__pycache__/
.ipynb_checkpoints/
x86_64/
*.dll
*.o
*.c
*.pt
*.pth
*.mat
*.pkl
*.npy
*.zip
*backup*
/temp/
/M1Focus/network*/
/M1Focus/results/
/M1Focus/input/*.h5
/M1Focus/input/*/*.h5
/M1Focus/output/*.*
/Analysis/simulation_results/
